streamlit
langchain
langchain-community
langchain_experimental
langchain-openai
pypdf
sentence-transformers
google-generativeai
langchain_google_genai
docx2txt
unstructured
openpyxl
sdv
kuzu
faiss-cpu
python-docx
PyMuPDF
langchain-google-genai
streamlit-extras
pysqlite3-binary
oci