streamlit
langchain
langchain-community
langchain_experimental
langchain-openai
chromadb
pypdf
sentence-transformers
google-generativeai
langchain_google_genai
docx2txt
unstructured
openpyxl
sdv
kuzu
pysqlite3-binary